body {
    font-family: sans-serif;
 }
 header{
    padding: 1%;
    background-color: #186CA3;
    color: white;
    }
.mainBox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
 .menu{
    width: 20%;
    background-color: gray;
    height: 100vh;
 }
 .container{
    width: 80%;
 }
 #searchBoard{
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 70%;
    height:5%;
    margin-bottom: 5%;
    /* border: 1px; */
    
 }
 #add-board-btn{
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 10%;
    height:7%;
    margin-bottom: 5%;
    color: white;
    background-color: green;
    border: none;
    text-align: center;
    font-size: 0.4cm;
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .project-block{
     display:flex;
     flex-direction: row;
     margin: 2.5%;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .project-card{
     background: gray;
     color: white;
     text-align: left;
     padding: 2%;
     border-radius: 5px;
     margin: 10px 0;
     width: 25%;
     
 }